h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ff1313;

}
body {
    font-family: sans-serif;
}

#container {
    width: 700px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.form_group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
label {
    text-align: left;
    padding-right: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 100px;
    border: none;
    cursor: pointer;
    grid-column: 1 / 3;
    justify-self: right;
}
input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}